<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Close this Browser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
        .red-text {
            color: red !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center red-text">
        <h1><span class="fa fa-window-close"></span> Close This Browser</h1>
        <p>No Refresh Token can be received with this Browser window</p>
        <p>Please close this Browser</p>
     </div>
</div>
</body>
</html>